@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: url('../fonts/framd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/framd.woff2') format('woff2'),
         url('../fonts/framd.woff') format('woff'),
         url('../fonts/framd.ttf')  format('truetype'),
         url('../fonts/framd.svg#Franklin Gothic Medium') format('svg');
}

.custom-css{
    font-size: 80px;
}

body{
    font-family: Arial, sans-serif;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color:#3498db;
    /*opacity:0;*/
    /*animation: preload 1s;*/
}

.pre {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 50;
    animation: perspective 1s linear infinite;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    float:left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: 'FranklinGot', sans-serif;
}
.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    color:white;
}

.menu {
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 30px;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}
.menu li:nth-child(3) {
    animation-delay: 0.8s;
}
.menu li:nth-child(4) {
    animation-delay: 1.2s;
}
.menu li:nth-child(5) {
    animation-delay: 1.6s;
}
.menu li:nth-child(6s) {
    animation-delay: 2s;
}

.menu li a {
    color: white;
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
    
}

.menu li a:active {
    transform: scale(1.1);
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    float:left;
    width: 100%;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title__container h1 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    color: white;
    background-color: #344051;
}

.title__container input:active {
    transform: scale(1.1);
}

.bio {
    width: 100%;
    float:left;
    text-align: center;
    background: url(../img/orange_line.jpg) 50% 27% no-repeat;
    margin-top: 20px;
    opacity: 0;
    -webkit-animation: comming 2s ease forwards;
    -o-animation: comming 2s ease forwards;
    animation: comming 2s ease forwards;
}

.bio h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin: 150px 0px 0px 0px;
}

.mini-photo {
    margin-top: 80px;
    
}

.bio p {
    margin-top: 25px;
}

.bio input {
    height: 36px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 40px;
    margin-bottom: 100px;
    transition: all 0.2s;
    transform: scale(1);
}

.bio input:hover {
    color: white;
    background-color: #344051;
}

.bio input:active {
    transform: scale(1.1);
}

.skills {
    float:left;
    width: 100%;
    text-align: center;
    background: url(../img/orange_line.jpg) 50% 40% no-repeat, url(../img/background.jpg) 50% 10%/auto 100% no-repeat;
}

.skills h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin: 100px 0px 100px 0px;
}

.skills h4 {
    color: #cf7600;
}

.skill-icons li {
    float: left;
    /*margin: 0px 0px 90px 120px;*/
    
}
.experience {
    width: 100%;
    float: left;
    background: url(../img/orange_line.jpg) 50% 3% no-repeat;
    margin: 100px 0px 100px 0px;
}

.gallery-photo {
    /*padding: 0px 0px 0px 200px;*/
}

.experience h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 70px;
    width:100%;
}

.exp_main_p {
    text-align: center;
    margin-bottom: 30px;
}

.experience input {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    background-color: #63b5ae;
    color: #fff;
    padding: 10px 35px 10px 35px;
    border-radius: 5% 5%;
    margin-top: 20px;
}

.experience a {
    text-decoration: none;
}

.experience input:hover {
    animation: heartBeat 2s linear infinite ;
}

.experience h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.exp_client {
    float:left;
    margin-top: 20px;
}

.exp_name_client {
    float: left;
}

.exp_name_work {
    margin-left: 400px;
    margin-top: 20px;
}

.exp_desc {
    margin-left: 400px;
}

.exp_wrapper {
    float: left;
    /*margin-left: 200px;*/
}

.statistics {
    width: 100%;
    height: 500px;
    float:left;
    background: url(../img/orange_line.jpg) 50% 32% no-repeat, fixed url(../img/Stats.jpg) 50% 50%/auto no-repeat;
    /*background-attachment: fixed;*/
    text-align: center;
}

.statistics h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin: 100px 0px 70px 0px;
}

.stat_li {
    padding-left: 200px;
    padding-top: 55px;
}

.stat_li li {
    float: left;
    margin-right: 150px;
    
}

.statistics h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
}


.calculates {
    float: left;
    width: 100%;
}

.calc_wrapper {
    margin: 0px 0px 100px 330px;
}

.calculates h2 {
    font-size: 34px;
    font-weight: bold;
    text-align:center;
    margin: 20px 0px 20px 0px;
}

.calculates label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}

.calculates select {
    background: #eeeeee;
    width: 900px;
    padding: 15px 0px 15px 0px;
}

.calculates h4 {
    display: inline;
    line-height: 30px;
    font-weight: bold;
}

.calculates span {
    font-weight: bold;
    font-size: 16px;
}

.calculates input {
    display: block;
    background-color: #63b5ae;
    color: #fff;
    padding: 10px 35px 10px 35px;
    border-radius: 5% 5%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.calculates a {
    text-decoration: none;
}

.calculates .shadow {
    position: absolute;    
    border: 1px solid rgba(0,0,0,0.5);
    height: 760px;
    left:170px;
    opacity: 0.5;
}

.reviews {
    float:left;
    text-align: center;
    width: 100%;
    background: url(../img/orange_line.jpg) 50% 35% no-repeat, url(../img/dot1.png) 48% 100% no-repeat, url(../img/dot2.png) 50% 100% no-repeat, url(../img/dot3.png) 52% 100% no-repeat;
    margin-bottom: 60px;
}

.reviews h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    margin: 100px 0px 90px 0px;
}

.reviews p {
    margin: 20px 0px 30px 0px;
}

.contacts {
    float: left;
    width: 100%;
    background: url(../img/orange_line.jpg) 50% 24% no-repeat, url(../img/contacts.jpg) 50% 100% no-repeat;
    color: #fff;
}

.contacts h2 {
    font-size: 22px;
    text-align:center;
    text-transform: uppercase;
    margin: 100px 0px 50px 0px;
}

.contacts h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 110px 0px 30px 0px;
}

.contacts p {
    padding-top: 17px;
}

.contacts>p {
    text-align: center;
}

.contacts ul {
    margin: 30px 0px 0px 467px;
    text-align: center;
}

.contacts li {
    float: left;
    margin-right: 100px;
}

.phone:hover {
    animation: heartBeat 2s linear infinite;
}

.mail:hover {
    animation: shakeY 2s linear infinite;
}

.contacts textarea {
    float: left;
    padding: 5px 5px 5px 5px;
    margin: 10px 550px 0px 0px;
    background-color: #d3d7dd;
}

.contacts input {
    float: left;
    margin-right: 10px;
    padding: 5px 65px 5px 5px;
    background-color: #d3d7dd;
}

.contacts .send {
    font-weight: bold;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #fff solid;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 150px 630px;
}

.contacts .send:hover {
    color: white;
    background-color: #344051;
}

.contacts .send:active {
    animation: bounceOut 0.7s linear infinite;
}

.contacts_wrapper {
    margin-left: 440px;
}

.map {
    float:left;
}

footer {
    width:100%;
    height: 90px;
    float: left;
    text-align: center;
    color: #fff;
    background-color: #354051;
    padding-top: 40px;
}

@keyframes comming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -400px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes preload {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes perspective {
    0% {
        transform: rotateX(0deg);
    }
    49% {
        transform: rotateX(180deg);
    }
    51% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.icon-code-custom {
    font-size:40px;
}

.white-btn:visited {
    color: white;
}

@media (max-width: 991px) {
    .title__container, .title__container>h4, .title__container input {
        color: white;
        position: relative;
        z-index: 3;
    }
    .main {
        position: relative;
    }
    .title__container input {
        border: 2px solid #fff;
    }
    .main::after {
        content:"";
        top:0;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}
    @media (min-width: 1200px) and (max-width: 1400px) {
        .calculates select {
            width: 770px;
        }
    }
    
    @media (max-width: 1200px) {
        .calculates select {
            width: 570px;
        }
    }
    
    @media (max-width: 991px) {
        .experience p, .experience a {
            font-size: 20px;
        }
        .calculates select {
            width: 547px;
        }
    }
    
    