@font-face {
    font-family: 'FranklinGot';
    src: url('../fonts/framd.eot');
    src: url('../fonts/framd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/framd.woff2') format('woff2'),
         url('../fonts/framd.woff') format('woff'),
         url('../fonts/framd.ttf')  format('truetype'),
         url('../fonts/framd.svg#Franklin Gothic Medium') format('svg');
}

.custom-css{
    font-size: 80px;
}

body{
    font-family: Arial, sans-serif;
	overflow-x: hidden;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color:#3498db;
    /*opacity:0;*/
    /*animation: preload 1s;*/
}

.pre {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 50;
    animation: perspective 1s linear infinite;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
    font-family: 'FranklinGot', sans-serif;
}
.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    color:white;
}

.menu {
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 30px;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}
.menu li:nth-child(3) {
    animation-delay: 0.8s;
}
.menu li:nth-child(4) {
    animation-delay: 1.2s;
}
.menu li:nth-child(5) {
    animation-delay: 1.6s;
}
.menu li:nth-child(6s) {
    animation-delay: 2s;
}

.menu li a {
    color: white;
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
    
}

.menu li a:active {
    transform: scale(1.1);
}

.myActive::before {
	content: "";
	
}

.myActive::after {
	content: "";
}

.myActive {
	display: inline-block;
	line-height: 30px;
	background-color: #d17700;
	height: 2px;
	animation: active 1s ease forwards;
}

.nowrap {
	white-space: nowrap;
}

.main {
    width: 100%;
    height: 100vh;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    
    width: 100%;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title__container h1 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover {
    color: white;
    background-color: #344051;
}

.title__container input:active {
    transform: scale(1.1);
}

.bio {
    width: 100%;
    
    text-align: center;
    background: url(../img/orange_line.jpg) 50% 26% no-repeat;
    margin-top: 20px;
    opacity: 0;
    -webkit-animation: comming 2s ease forwards;
    -o-animation: comming 2s ease forwards;
    animation: comming 2s ease forwards;
}

.bio h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin: 150px 0px 0px 0px;
}

.mini-photo {
    margin-top: 80px;
    
}

.bio p {
    margin-top: 25px;
}

.bio input {
    height: 36px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 40px;
    margin-bottom: 100px;
    transition: all 0.2s;
    transform: scale(1);
}

.bio input:hover {
    color: white;
    background-color: #344051;
}

.bio input:active {
    transform: scale(1.1);
}

.skills {
    
    width: 100%;
    text-align: center;
    background: url(../img/orange_line.jpg) 50% 27% no-repeat, url(../img/background.jpg) center/cover no-repeat;
}

.skills_container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.skills h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin: 0px auto 110px;
    padding-bottom: 5px;
}

.skills h4 {
    color: #cf7600;
}

.skill-icons li {
    
    /*margin: 0px 0px 90px 120px;*/
    
}

.skills p {
    margin-bottom: 70px;
}



.experience {
    width: 100%;
    
    background: url(../img/orange_line.jpg) 50% 3% no-repeat;
    margin: 100px 0px 100px 0px;
}

.exp_container {
	
}

.experience h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 70px;
    width:100%;
	margin: 0px auto 60px;
	
}

.exp_main_p {
    text-align: center;
    margin-bottom: 30px;
}

.experience input {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    background-color: #63b5ae;
    color: #fff;
    padding: 10px 35px 10px 35px;
    border-radius: 5% 5%;
    margin-top: 20px;
}

.experience a {
    text-decoration: none;
}

.experience input:hover {
    animation: heartBeat 2s linear infinite ;
}

.experience h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.gallery-photo {
	width: 100%;
	
}

.statistics {
    width: 100%;
    
    
    background: url(../img/orange_line.jpg) 50% 32% no-repeat, fixed url(../img/Stats.jpg) center/cover no-repeat;
    /*background-attachment: fixed;*/
    text-align: center;
}

.statistic_container {
	margin: 0 auto;
	padding-bottom: 100px;
}

.statistics h2 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-align:center;
    margin: 100px 0px 70px 0px;
	padding-top: 100px;
}

/*.stat_li {
    padding-left: 200px;
    padding-top: 55px;
}

.stat_li li {
    float: left;
    margin-right: 150px;
    
}*/

.statistics h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
}


.calculates {
    
    width: 100%;
}

.calc_container {
	max-width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.calculates h2 {
    font-size: 34px;
    font-weight: bold;
    text-align:center;
    margin: 20px 0px 20px 0px;
}

.calculates label {
    display: block;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}

.calculates select {
    background: #eeeeee;
    width: 100%;
    padding: 15px 0px 15px 0px;
}

.calculates h4 {
    
    line-height: 30px;
    font-weight: bold;
	float: left;
}

.calculates span {
    font-weight: bold;
    font-size: 16px;
	line-height: 30px;
	float: right;
}

.calculates input {
    
    background-color: #63b5ae;
    color: #fff;
    padding: 10px 35px 10px 35px;
    border-radius: 5% 5%;
    margin-top: 20px;
    margin-bottom: 70px;
}

.calculates a {
    text-decoration: none;
}

/*.calculates .shadow {
    position: absolute;    
    border: 1px solid rgba(0,0,0,0.5);
	max-width: 1080px;
    height: 620px;
    left:170px;
    opacity: 0.5;
}*/

.reviews {
    
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
	margin-bottom: 70px;
}

.reviews h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    margin: 0px 0px 90px 0px;
	padding-top: 100px;
}

.reviews p {
    margin: 20px 0px 30px 0px;
}

.contacts {
    
    width: 100%;
    background: url(../img/orange_line.jpg) 50% 20% no-repeat, url(../img/contacts.jpg) 50% 100% no-repeat;
    color: #fff;
}

.contacts h2 {
    font-size: 22px;
    text-align:center;
    text-transform: uppercase;
    margin: 0px 0px 50px 0px;
	padding-top: 100px;
}

.contacts h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0px 50px 0px;
}

.contacts p {
    padding-top: 17px;
}

.contacts>p {
    text-align: center;
}

.contacts ul {
    margin: 30px 0px 0px 467px;
    text-align: center;
}

.contacts li {
    float: left;
    margin-right: 100px;
}

.phone {
    margin-left: 30px;
}

.mail {
    margin-left: 70px;
}

.phone:hover {
    animation: heartBeat 2s linear infinite;
}

.mail:hover {
    animation: shakeY 2s linear infinite;
}

.contacts textarea {
    /*float: left;
    padding: 5px 5px 5px 5px;
    margin: 10px 550px 0px 0px;*/
    background-color: #d3d7dd;
    
}

.contacts input {
    /*float: left;
    margin-right: 10px;
    padding: 5px 65px 5px 5px;*/
    background-color: #d3d7dd;
}

.contacts .send {
    font-weight: bold;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #fff solid;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 150px 0px;
}

.contacts .send:hover {
    color: white;
    background-color: #344051;
}

.contacts .send:active {
    animation: bounceOut 0.7s linear infinite;
}

.contacts_wrapper {
    margin-left: 440px;
}

.map {
    
    width: 100%;
}

footer {
    width:100%;
    height: 90px;
    
    text-align: center;
    color: #fff;
    background-color: #354051;
    padding-top: 40px;
}

@keyframes comming {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes titlemove {
    from {
        opacity: 0;
        margin-left: -400px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes preload {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes perspective {
    0% {
        transform: rotateX(0deg);
    }
    49% {
        transform: rotateX(180deg);
    }
    51% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes active {
    from {
        width: 10%;
    }
    to {
        width: 100%;
    }
}

.icon-code-custom {
    font-size:40px;
}

.white-btn:visited {
    color: white;
}



@media (max-width: 991px) {
    .title__container, .title__container>h4, .title__container input {
        color: white;
        position: relative;
        z-index: 3;
    }
    .main {
        position: relative;
    }
    .title__container input {
        border: 2px solid #fff;
    }
    .main:after {
        content:"";
        top:0;
        bottom:0;
        left:0;
        right:0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
    
     .experience p, .experience a {
        font-size: 20px;
    }

    .skills {
        background: url(../img/orange_line.jpg) 50% 19% no-repeat, url(../img/background.jpg) center/cover no-repeat;
    }

    .bio {
        background: url(../img/orange_line.jpg) 50% 26% no-repeat;
    }

	.statistics {
		background: url(../img/orange_line.jpg) 50% 27% no-repeat, fixed url(../img/Stats.jpg) center/cover no-repeat;
	}
	
    .statistics h3 {
        margin-bottom: 0px;
    }
}

@media (max-width: 1200px) {
    
    .phone {
        margin-left: 70px;
    }
    
    .mail {
        margin-left: 50px;
        margin-right: 0px;
    }
}

@media (max-width: 1399px) {
    .phone {
        margin-left: 80px;
    }
    
    .mail {
        margin-left: 35px;
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
	.bio {
		background: url(../img/orange_line.jpg) 50% 24% no-repeat;
	}
	
	.skills {
		background: url(../img/orange_line.jpg) 50% 19% no-repeat, url(../img/background.jpg) center/cover no-repeat;
	}
	
	.statistics {
		background: url(../img/orange_line.jpg) 50% 17% no-repeat, fixed url(../img/Stats.jpg) center/cover no-repeat;
	}
}

.slick-track {
	display: flex;
	align-items: flex-start;
}

.slick-list {
	overflow: hidden;
}

.sli {
	position: relative;
	/*padding: 0px 60px;*/
}

.sli .slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.sli .slick-arrow.slick-prev {
	left: 0;
	background: url(../img/sl-arrow_l.svg) 0 0 / 100% no-repeat;
}

.sli .slick-arrow.slick-next {
	right: 0;
	background: url(../img/sl-arrow_r.svg) 0 0 / 100% no-repeat;
}

.sli .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.sli .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.sli .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.sli .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #d17700;
	border-radius: 50%;
}

.sli .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #344051;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

.reviews img {
	border-radius: 50% 50%;
}

.no-active {
	height: auto;
	background-color: #ffffff;
	-webkit-animation: none !important;
	-o-animation: none !important;
	animation: none !important;
}

.carousel {
  height: 300px !important;
  
}
.carousel-inner img {
  height: 200px !important;
  margin: 0 auto;
}
.carousel-indicators li {
  border-color: #000;
}
.carousel-indicators .myActive {
  background-color: #000;
}
.carousel-control-prev-icon {
	background-color: #d17700 !important;
}
.carousel-control-next-icon {
	background-color: #d17700 !important;
}

#contacts a {
	color: #fff !important;
	text-decoration: none;
}

.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #FF7A59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

/*#spinner { display:none; } 
body.busy .spinner { display:block !important; }*/

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}